---
layout: single_column
---
<div class="page-speakers">
  <div class="wrapper wrapper-speaker-intro">
    <div class="wrapper-stripes"></div>
    <div class="cover-hero">
      <h1>Speakers</h1>
      <p>Get inspired by our insightful speakers who are using creative thinking to make amazing things happen</p>
    </div>
  </div>

  <div class="wrapper wrapper-speakers-line-up hidden-sm hidden-xs">
    {% for speaker in site.speakers %}
      <div class="speaker-line-up">
        <a href="#{{ speaker.slug }}"><img src="{{ speaker.placeholder_url }}" alt="{{ speaker.name }}"></a>
      </div>
    {% endfor %}

    {% for count in (site.speakers.size..4) %}
      <div class="speaker-line-up">
        <img src="/images/speakers/blank-speaker-205x205.png" alt="Upcoming Speaker">
      </div>
    {% endfor %}
  </div>

  <div class="container-speakers">
    {% for speaker in site.speakers %}
      <div class="wrapper wrapper-speaker-{{ speaker.slug }}">
        <a class='anchor' name="{{ speaker.slug }}"></a>
        <div class="speaker-img">
          <img src="{{ speaker.image_url }}" alt="A picture of {{ speaker.name }}">
        </div>

        <div class="speaker-text">
          <div class="speaker-title">
            <h2>{{ speaker.name }}</h2>
            <p><a href="{{ speaker.company_url }}" target="_blank">{{ speaker.company }}</a></p>
          </div>

          <div class="speaker-bio">
            {{ speaker.content }}
            <p>Visit their website at <a href="{{ speaker.website }}" target="_blank">{{ speaker.website }}</a>.</p>
          </div>

          {% if speaker.examples %}
            <div class="speaker-works-panel">
              <a class="show-works collapsed" role="button" data-toggle="collapse" href="#collapse{{ speaker.slug | capitalize}}" aria-expanded="false" aria-controls="collapseExample">
                Show More <span class="caret"></span>
              </a>

              <div class="collapse works-panel" id="collapse{{ speaker.slug | capitalize}}">
                {% for example in speaker.examples %}
                  <div class="works works-{{ example.aspect }}">
                    <img src="{{ example.url }}" alt="{{ example.alt }}">
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <hr/>
    {% endfor %}
  </div>
</div>