<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 footer-copy">
        <div class="footer-logo">
          <img src="/images/itw2016_logo_footer.svg" />
        </div>
        <nav>
          <ul class="list-inline footer-cta">
            <li>
              <a href="mailto:hi@aigaintothewoods.com?subject=Hi">Contact Us</a>
            </li>
            <li>Follow Us</li>
            <li>
              <ul class="list-inline social-links">
                <li class="social-link">
                  <a href="https://www.twitter.com/aigaitw">
                    <img src='/images/social/twitter.svg' alt='Twitter'/>
                  </a>
                </li>
                <li class="social-link">
                  <a href="https://www.facebook.com/AIGAIntoTheWoods">
                    <img src='/images/social/facebook.svg' alt='Facebook'/>
                  </a>
                </li>
                <li class="social-link">
                  <a href="https://instagram.com/aigaseattle/">
                    <img src='/images/social/instagram.svg' alt='Instagram'/>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
