<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 footer-copy">
        <div class="footer-logo">
          <img src="/images/itw2016_logo_footer.svg" />
        </div>
        <nav>
          <ul class="list-inline footer-cta">
            <li>Contact Us</li>
            <li>Follow Us</li>
            <li>
              <ul class="list-inline social-links">
                <li class="social-link">
                  <img src='/images/social/twitter.svg' alt='Twitter'/>
                </li>
                <li class="social-link">
                  <img src='/images/social/facebook.svg' alt='Facebook'/>
                </li>
                <li class="social-link">
                  <img src='/images/social/instagram.svg' alt='Instagram'/>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>
