<section class="speakers-grid row subsection">
  <div class="container-fluid no-gutters">

    <div class="row no-gutters">
      <div class="col-sm-7">
        <img src="/images/chair.png"/>
      </div>
      <div class="col-sm-5">
        <img src="/images/headshot-walsh.jpg"/>
        <img src="/images/headshot-musk.jpg"/>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-4">
        <img src="/images/square-landscape.jpg"/>
      </div>
      <div class="col-sm-4">
        <img src="/images/square-byrne.jpg"/>
      </div>
      <div class="col-sm-4">
        <img src="/images/square-circles.jpg"/>
      </div>
    </div>
  </div>
</section>