<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-brand-container">
          <a class="navbar-brand" href="/">
            <img src="/images/aiga_logo_50px.svg" alt="AIGA Logo" />
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/overview.html">Overview</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Workshops</a></li>
          <li><a href="/schedule.html">Schedule</a></li>
          <li><a href="https://www.eventbrite.com/e/into-the-woods-conference-2016-tickets-18926152632">Register</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
