<section class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="hero-image col-md-8">
      <img src="/images/itw2016-hero.svg" alt="Into The Woods 2016" />
    </div>
    <div class="col-md-1"></div>
    <div class="hero-copy col-md-2">
      <div class="hero-slash">
        <img src="/images/slash.svg" />
      </div>
      <p>April<br/>8-10<br/>2016</p>
      <p>Sleeping<br/>Lady<br/>Resort</p>
      <p>Leaven &#45;<br/>worth<br/>Washing &#45;<br/>ton</p>
      <div class="hero-slash">
        <img src="/images/slash.svg" />
      </div>
    </div>
  </div>
</section>