<section class="overview row background-cover background-mtn">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 overview-copy">
      <h1>Between the Lines</h1>

      <p>Designing between the lines means looking past what’s in front of you and finding power in the unexpected. Into the Woods 2016 celebrates provocative ideas, integrative thinking, and boundary-defying design.</p>

      <p>That's right, AIGA Seattle’s legendary Into the Woods conference is back, with three days of hands-on workshops, outstanding speakers, and backwoods creative bonding.</p>
    </div>
  </div>
</section>
