<div id="sponsors" class="sponsors subsection container-fluid">
  <div class="wrapper wrapper-sponsors">
    <div class="content">
      <h2>Sponsors</h2>
      <ul class="list-inline sponsors-roll">
        {% for sponsor in site.data.sponsors %}
          <li class="sponsor">
            <a href="{{ sponsor.website }}" target="_blank">
              <img src='{{ sponsor.logo_url }}' class="sponsor-logo logo-{{sponsor.alt_text || slugify}}" alt='{{ sponsor.alt_text }}'"/>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

