<section id="sponsors" class="sponsors row subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Sponsors</h2>
        <ul class="list-inline sponsors-roll">
          <li class="sponsor"><img src='/images/logos/hemlock.svg' alt='Hemlock'/></li>
          <li class="sponsor"><img src='/images/logos/neenah-paper.svg' alt='Neenah Paper'/></li>
          <li class="sponsor"><img src='/images/logos/sappi.svg' alt='Sappi'/></li>
          <li class="sponsor"><img src='/images/logos/hemlock.svg' alt='Hemlock'/></li>
          <li class="sponsor"><img src='/images/logos/neenah-paper.svg' alt='Neenah Paper'/></li>
          <li class="sponsor"><img src='/images/logos/sappi.svg' alt='Sappi'/></li>
        </ul>
      </div>
    </div>
  </div>
</section>
