<div id="sponsors" class="sponsors subsection container-fluid">
  <div class="wrapper wrapper-sponsors">
    <div class="content">
      <h2>Sponsors</h2>
      <ul class="list-inline sponsors-roll">
        <li class="sponsor"><img src='/images/logos/hemlock.svg' alt='Hemlock'/></li>
        <li class="sponsor"><img src='/images/logos/neenah-paper.svg' alt='Neenah Paper'/></li>
        <li class="sponsor"><img src='/images/logos/sappi.svg' alt='Sappi'/></li>
        <li class="sponsor hidden-xs"><img src='/images/logos/hemlock.svg' alt='Hemlock'/></li>
        <li class="sponsor hidden-xs"><img src='/images/logos/neenah-paper.svg' alt='Neenah Paper'/></li>
        <li class="sponsor hidden-xs"><img src='/images/logos/sappi.svg' alt='Sappi'/></li>
      </ul>
    </div>
  </div>
</div>

