$itw-primary-color: rgb(244, 244, 234 ); // Cream Color

body {
  background-color: $itw-primary-color;
  font-family: 'CenturyGothicStd-Bold', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase
}

@import "intothewoods/navbar";
@import "intothewoods/jumbotron";
@import "intothewoods/overview";
@import "intothewoods/footer";
@import "intothewoods/subsection";
@import "intothewoods/sponsors";