$itw-primary-color: rgb(244, 244, 234 ); // Cream Color
$itw-secondary-color: #63E9B9;

$itw-font-normal: 'CenturyGothicStd', Helvetica, Arial, sans-serif;
$itw-font-bold: 'CenturyGothicStd-Bold', Helvetica, Arial, sans-serif;

body {
  background-color: $itw-primary-color;
  font-family: 'CenturyGothicStd-Bold', Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
}
