$itw-primary-color: #f3f2e7; // Cream Color

body {
  background: $itw-primary-color;
}

.navbar {
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-brand a {
  min-width: 43px;
  min-height: 43px;
}

.navbar-brand {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 20px !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  background: $itw-primary-color;
  padding-top: 90px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  .hero-image img {
    max-height: 963px;
  }

  .hero-copy {
    text-transform: uppercase;
    margin-top: 7%;

    p {
      font-weight: bold;
    }

    .hero-slash img {
      width: 25px;
      // margin-top: 45px;
      margin-bottom: 10%;
    }
  }
}

h1, h2, h3, h4 {
  text-transform: uppercase
}

.overview {
  display: block;
  background-image: url(/images/itw2016_landscape-background.png);
  text-align: center;

  .overview-container {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .overview-copy {
    color: #fff;
    margin: 3em auto 3em;

    h1 {
      margin-bottom: 1em;
    }

    p {
      font-size: 1.2em;
    }
  }
}

#sponsors { display: none }

footer {
  text-align: center;

  .footer-logo img{

  }

  .footer-copy {
    margin: 5em auto;
    color: #000;
  }

  nav {
    margin-top: 1em;
    font-size: 18px;
    text-transform: uppercase;

    li:first-child {
      border-right: 2px solid #000;
    }

    li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

