.jumbotron {
  background: $itw-primary-color;
  padding-bottom: 0px;
  margin-bottom: 0px;

  .container-fluid {
    text-align: center;
  }

  img {
    width: 100%;
  }

  .visible-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  @media (min-width: 340px) {
    .visible-mobile {
      display: block;
    }

    .hide-mobile {
      display: none;
    }
  }
}