.navbar {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'CenturyGothicStd', Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}

.navbar-brand a {
  min-width: 43px;
  min-height: 43px;
}

.navbar-brand {
  width: 30px;
  height: 30px;
  display: block;
  padding: 0;
  margin: 10px;
}

.navbar-header {
  margin: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 0;
  display: inline-block;

  &.active {
    border-bottom: 3px solid #fff;
  }
}

.navbar-nav > li {
  padding: 15px;
}

.nav-padding {
  margin-top: 50px;
  padding-top: 0;
}

.visible-xs {
  display: none;
}


@media (min-width: 768px) {
  .nav-padding {
    margin-top: 90px;
  }

  .navbar-header {
    padding: 10px 0px 10px 10px;
  }

  .navbar-brand {
    width: 50px;
    height: 50px;
  }

  .navbar-nav > li {
    margin-top: 20px;
  }

}


@media (max-width: 768px) {
  .visible-xs {
    display: inline-block !important;
  }

  .hidden-xs {
    display: none;
  }
}