.overview {
  text-align: center;
  letter-spacing: 6px;

  .overview-copy {
    color: #fff;
    margin: 3em auto 3em;

    h1 {
      font-size: 3em;
      margin-bottom: 1.8em;
    }

    p {
      font-size: 1.8em;
      margin-bottom: 1.8em;
    }
  }
}
