<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}
    {{ content }}
    {% include sponsors.html %}
    {% include footer.html %}

    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="https://use.typekit.net/sgf1ybn.js"></script>
    <script type='text/javascript'>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type='text/javascript'>
      $(document).ready(function() { });
    </script>

  </body>
</html>