.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.background-mtn {
  background-image: url(/images/backgrounds/mountains.jpg);
}

.background-sleeping-lady {
  background-image: url(/images/backgrounds/sleeping-lady.jpg);
}

.background-woods {
  background-image: url(/images/backgrounds/woods.jpg);
  background-color: rgb(35, 33, 34);
  background-attachment: fixed;
}