footer {
  text-align: center;

  a, a:hover, a:visited {
    color: #000;
  }

  .footer-copy {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #000;
  }

  nav {
    margin-top: 1em;
    font-size: 18px;
    text-transform: uppercase;


    .footer-cta {
      > li {
        padding-left: 20px;
        padding-right: 20px;
      }

      > li:first-child {
        border-right: 2px solid #000;
      }

      > li:last-child {
        padding: 0;
      }

      @media (max-width: $screen-sm-min) {
        > li {
          display: inline-block;
          width: 100%;
        }

        > li:first-child {
          border-right: none;
        }

        .footer-copy {
          margin-top: 2em;
          margin-bottom: 2em;
          padding-left: 2em;
          padding-right: 2em;
        }

        .social-links {
          margin-top: 15px;
        }
      }
    }
  }
}