footer {
  text-align: center;

  a, a:hover, a:visited {
    color: #000;
  }

  .footer-copy {
    margin: 5em auto;
    color: #000;
  }

  nav {
    margin-top: 1em;
    font-size: 18px;
    text-transform: uppercase;


    .footer-cta {
      font-family: 'CenturyGothicStd', Helvetica, Arial, sans-serif;

      > li {
        padding-left: 20px;
        padding-right: 20px;
      }

      > li:first-child {
        border-right: 2px solid #000;
      }

      > li:last-child {
        padding: 0;
      }
    }
  }
}