.navbar {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'CenturyGothicStd', Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}

.navbar-brand a {
  min-width: 43px;
  min-height: 43px;
}

.navbar-brand {
  margin-top: 17px;
  margin-left: 0 !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li {
  padding-top: 20px;
  padding-bottom: 20px;
}
