.overview {
  display: block;
  background-image: url(/images/itw2016_landscape-background.png);
  text-align: center;
  letter-spacing: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;

  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .overview-copy {
    color: #fff;
    margin: 3em auto 3em;

    h1 {
      font-size: 3em;
      margin-bottom: 1.8em;
    }

    p {
      font-size: 1.8em;
      margin-bottom: 1.8em;
    }
  }
}