.sponsors {
  background-color: #000;

  h2 {
    color: #fff;
  }

  .sponsors-roll {
    margin-bottom: 50px;
  }

  .sponsor {
    color: #fff;
    width: 15%
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 19px;
    }

    .sponsors-roll {
      margin-bottom: 0;
    }

    .sponsor {
      display: inline-block;
      width: 100%;
      margin: 25px auto;
    }
  }

}

